$light-color: #f2f4fb;
$dark-color: #332E3C;
$font-family: 'Open Sans', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  background-color: $dark-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: $light-color;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: $dark-color;

  &:hover {
    text-decoration: underline;
  }
}

.error {
  display: block;
  background-color: #ff6161;
  padding: 10px;
  color: #fff;
  width: 700px;
  text-align: center;
}

form {
  width: 100%;
  max-width: 700px;
  margin-top: 1rem;

  input {
    background-color: $light-color;
    font-size: 1.1rem;
    letter-spacing: 1.2px;
    width: 100%;
    border: none;
    padding: 1rem;
    margin-bottom: 2rem;

    &:focus {
      outline: none;
    }
  }
}

.container {
  background-color: $light-color;
  color: $dark-color;
  width: 700px;
  max-width: 700px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 1rem;

  img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    border: 5px solid $light-color;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);

    & + a {
      display: block;
    }
  }
}

.user-info {
  line-height: 1.6;
  width: 100%;

  small {
    display: block;
  }

  p {
    color: rgba(0, 0, 0, 0.6)
  }

  ul, h3, p {
    margin: 10px 0;
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }

  .repo {
    display: inline-block;
    background-color: $dark-color;
    color: $light-color;
    padding: 5px 10px;
    margin-right: 8px;
    margin-bottom: 8px;
    transition: all 0.3s;

    &:hover {
      text-decoration: none;
      background-color: #222;
    }
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  input::placeholder {
    font-size: 14px;
  }

  .container {
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    margin-bottom: 2rem;
    padding: 1rem;

    .main-info {
      margin-top: 5px;
      text-align: center;
    }

    img {
      width: 100px;
      height: 100px;
      margin-left: 24px;
    }
  }

  form {
    max-width: 350px;
  }

  .error {
    width: 350px;
  }
}